
@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

body{
  background-color: #CACCD5;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header{
  height: 50px;
  margin-bottom: 5px;
  color: #0760FB;
  font-weight: bold;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App{
  position:relative;
  box-shadow: 1px 2px 5px #9f9f9f;
  padding: 20px;
  width: 400px;
  border-radius: 30px;
  height: 90vh;
  background-color: #f3f0f0;
  overflow: hidden;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

.addTaskDiv{
  margin-left: 5px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  flex-direction: row;
  position: relative;
}

.addTaskDiv > form > input{
  height: 40px;
  width: 300px;
  border-radius: 20px;
  flex: 1;
  outline: none;
  padding: 10px;
  font-size: 1em;
  border: none;
  background-color: #E2EBFA;
}

.addTaskDiv > form > button{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  background-color: #E2EBFA;
  right: 10px;
  border: none;
  transition: 0.1s ease-in-out;
}

.addTaskDiv > form > input:hover{
  background-color: hsl(218, 71%, 85%);
}

.addTaskDiv > form > button:hover{
  background-color: rgb(7, 96, 251);
}

.searchBox{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin-bottom: 10px;
}

.searchBox input{
  height: 40px;
  width: 200px;
  border-radius: 20px;
  padding: 10px;
  outline: none;
  border: none;
  background-color: #fcc8bd;
  font-size: 1em;
  display: flex;
  align-items: center;
}

.searchBox input:hover{
  background-color: hsl(10, 91%, 78%);
}

.contentDiv{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  margin-top: 15px;
  padding-top: 15px;
  height: 400px;
  overflow-y: auto;
  border-top: 1px dotted black;
  border-bottom: 0.5px dotted gray;
}

.footer{
  height: 30px;
  font-size: 15px;
  font-weight:540;
  left: 0px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskList{
  list-style: none;
}

.taskComponent{
  padding: 10px;
  border-radius: 10px;
  background-color: #FFFFFF;
  font-family: "Poppins";
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 350px;
}

.taskComponent > input{
  width: 15px;
  height: 15px;
}

.taskComponent > label{
  width: 230px;
  display: block;
  margin: 0px 10px;
  word-wrap: break-word; 
  word-break: break-word;
}

.deleteButton{
  position: absolute;
  right: 5px;
  width: 30px;
  height: 30px;
  overflow-y: auto;
  color: hsl(218, 71%, 85%);
}

.deleteButton:hover{
  color: red;
}

.contentDiv::-webkit-scrollbar{
  display: none;
}

.navList{
  margin: 15px;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  text-decoration: none;
}

.navComponent{
  text-decoration: none;
  color:#b7b7b7;
  font-weight: 500;
}



.active{
  color: #0760FB;
}

.editButton{
  position: absolute;
  right: 45px;
  width: 23px;
  height: 23px;
  overflow-y: auto;
  color: hsl(218, 71%, 85%);
}
.editButton:hover{
  color:#0760FB;
}